body {
  /* for static navigation bar */
  height: 1000px;
  padding-top: 70px;
}

.inline-custom {
  display: inline;
}

.center-block-custom {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
